// 
/*========== CONTACT ==========*/
.contact.section {
    .contact__container {
      text-align: center;
  
      .contact__description {
        margin-bottom: 25px;
      }
    }
  }
  
//IFRAME
// .map-container {
//     position: relative;
//     padding-bottom: 75%; /* Ajusta la altura proporcionalmente */
//     height: 0;
//     overflow: hidden;
//     .map-container iframe {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//     }
// }


// Seccion contactate con nosotros.
.contact.section {
  .section-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .contact__container {
    display: grid;
    place-items: center;
    padding: 2rem;

    .contact__form {
      display: grid;
      grid-gap: 1rem;
      width: 100%;

      .contact__input {
        width: 100%;
        font-size: var(--normal-font-size);
        font-weight: var(--font-semi-bold);
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1.5px solid var(--first-color);
        outline: none;
        margin-bottom: var(--mb-4);
      }

      .contact__button {
        display: block;
        border: none;
        outline: none;
        font-size: var(--normal-font-size);
        cursor: pointer;
        margin-left: auto;
      }
    }
  }
}
